
body{

background-color: yellow;
text-align: center;

}
h1{

color: black;
text-align: center;	

}

h2{
color: black;
text-align: center;


#formPedra_Azul {

margin-left: 50%;
margin-right: 50%;
width: 5%;
min-width: 300px;

}



